@tailwind base;
@tailwind components;
@tailwind utilities;


:root{

  --primary-color:#f0b51d;
  --secondary-color: #ffffff;
  
}
.slick-dots li button:before {
 
  content: "•";
  font-size: 10px !important;
  opacity: .25;
  top: -30px !important;
 
}

.slick-dots li button:before, .slick-dots li.slick-active button:before {
  color:#f0b51d !important;
}

.fixed-height{

min-height: calc(100vh - 116px);
  

}

.done{

  list-style-type: '😊';
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
